# Add your Firebase web app configurations.
# See Project Settings for your Firebase project at https://console.firebase.google.com.
VITE_FIREBASE={
    apiKey: ""
    authDomain: ""
    projectId: ""
    storageBucket: "",
    messagingSenderId: "",
    appId: "",
    measurementId: "", 
}